<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="console-error-appender.xml" />
    <include resource="console-warn-appender.xml" />
    <include resource="console-info-appender.xml" />

    <root>
        <springProfile name="prod">
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="WARN"/>
        </springProfile>
    </root>
</configuration>
